<%-include('../partials/head')%>

<details>
    <summary><i>Configurações gerais</i></summary>
    <div class="row">
        <%Sql_results.forEach(Sql_results=>{%>
   
        <div class="col-sm-4">

            <div class="custom-control custom-checkbox"> 

                <input type="checkbox" class="custom-control-input"  <%if(Sql_results.USU_ALT_USU ==  'S'){%> checked="true" <%}%> id="USU_ALT_USU"  >
                <label class="custom-control-label"  for="USU_ALT_USU"  >Usuário pode alterar próprio usuário?</label>
                
              </div> 
            <div class="custom-control custom-checkbox"> 
                <input type="checkbox" class="custom-control-input" id="VIA_CEP" <%if(Sql_results.VIA_CEP ==  'S'){%> checked="true" <%}%> >
                <label class="custom-control-label"  for="VIA_CEP"  >Importa CEP via API?</label>
              </div> 
            <div class="custom-control custom-checkbox"> 
                <input type="checkbox" class="custom-control-input" id="CORRIGE_CID" <%if(Sql_results.CORRIGE_CID ==  'S'){%> checked="true" <%}%> >
                <label class="custom-control-label"  for="CORRIGE_CID"  >Corrige cidade via API?</label>
              </div> 
            <div class="custom-control custom-checkbox"> 
                <input type="checkbox" class="custom-control-input" id="VAL_CGC"   <%if(Sql_results.VAL_CGC ==  'S'){%> checked <%}%>  >
                <label class="custom-control-label"  for="VAL_CGC"  >Valida CPF/CNPJ no cadastro de parceiro?</label>
            </div> 
              <span>Tempo inativo para sessão(minutos)</span>
              <input type="number" class="form-control multi" id="TEMPO_S_INATIVA" min="5" max="600" value="<%=Sql_results.TEMPO_S_INATIVA / 60000%>">
              <span>Dias para atualizar parceiro</span>
              <input type="number" class="form-control multi" id="DIAS_ATUALIZAR_PARC" value="<%=Sql_results.DIAS_ATUALIZAR_PARC%>">
              
              <span>Dias para inativar usuário</span>
              <input type="number" class="form-control" id="D_USU_INAT" min="5" max="600" value="<%=Sql_results.D_USU_INAT%>">

               <%})%>
        </div>
    </div>

</details>
<details>

    <summary> <i>Licença</i></summary>
    <div class="row">
          
        <div class="col-sm-3">
            <span>Cnpj</span>
            <input type="number" value="<%=Dadoslicenca.CNPJ%>" class="form-control" disabled >

            <span>Nome razão social</span>
            <input type="text" value="<%=Dadoslicenca.RAZAO_SOCIAL%>" class="form-control" disabled>
        </div>

        <div class="col-sm-3">
            <span>Data limite acesso</span>
            <input type="text" value="<%=Dadoslicenca.DT_LIMITE%>"  class="form-control" disabled>
            <span>Limite de sessoes ativas</span>
            <input type="number"  value="<%=Dadoslicenca.SESSOES%>"  class="form-control" disabled>
        </div>
        </div>
    </div>
    <button class="btn btn-warning mt-3" id="AtualizaLicenca">Atualizar certificado</button>
</details>


<details>
    <summary><i>Informações gerais</i></summary>
    <div class="row">
        <div class="col-sm-3">
            <span>Versão do node : <%=Dadoslicenca.V_NODE%></span><br>
            <span>Versão do sistema operacional : <%=Dadoslicenca.V_OS%></span><br>
            <span>Versão da aplicação: <%=Dadoslicenca.V_APP%></span><br>
            <span>Usuário do banco: <%=Dadoslicenca.USUER_BANCO%></span>
        </div>
    </div>
</details>
<details>
    <summary>Servidor</summary>
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-warning" id="REINCIAR">Reiniciar aplicação</button>
            <button class="btn btn-info" id="LOG">Baixar log de erros</button>
        </div>
    </div>
</details>


<script type="module" src="../js/Admin/AdministracaoServidor.js"></script>
<%-include('../partials/footer')%>