<%- include('../partials/head'); %>

<%- include('../partials/header'); %>
<div class="grad" style="display: flex; height: auto;padding: 30px;">
    <% let filtro = P_USU.T_FILTRO %>
      <div style="width: 300px;height: 400px;">
          <form  id="filtro" >
              <div class="form-group row">
                <div class="col-sm-10">

                  <input type="text" placeholder="Nome da tabela" id="NOME_TABELA"  class="form-control" value="<%=filtro[0][0]%>" id="inputEmail3" >
                </div>
              </div>
    
              <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" placeholder="Descrição da tabela" id="DESCRICAO"  class="form-control" value="<%=filtro[0][1]%>" id="inputEmail4" >
                  </div>
              </div>
    

              <div class="form-group row">
                <div class="col-sm-10">
                  <button  class="btn btn-primary mt-3" id="Buscar">Buscar</button>
    <%-include('../components/csv.ejs')%>

                </div>

              </div>
            </form>
    
     
    
      </div> 
      
      <div style="width: 100%;" >
        <table class="table" style="width: 70%;" id="tabeladados" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Descição</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody id="TABELA"   >
                 <!-- inserido pela requição ajax apos usar o filtro -->
          </tbody>
        </table>
      </div>
      
    </div>

    <script>
           document.getElementById('TABELA').addEventListener('dblclick',(e)=>{
              let elementoclicado = e.target;
              let elementoPai = elementoclicado.parentNode
              let ID_valor = elementoPai.cells[0].innerText
              window.location.href = `/visualiza/dicionario/dados/` +ID_valor

     });
    </script>
<script src="/js/Admin/dicionariodedados.js"></script>
<script src="/js/exportar/csv.js"></script>


<%- include('../partials/footer'); %>
