<%- include('../partials/head'); %>

<%- include('../partials/header'); %>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tabelas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Triggres" role="tab" aria-controls="profile" aria-selected="false">Triggres</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Procedures" role="tab" aria-controls="contact" aria-selected="false">Procedures</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#views" role="tab" aria-controls="contact" aria-selected="false">views</a>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
   <!-- Campos -->
   <div class="grad" style="display: flex; height: auto;padding: 30px;">
    <% let filtro = P_USU.T_FILTRO %>
      <div style="width: 300px;height:auto;">
          <form  id="filtro" >
              <div class="form-group row">
                <div class="col-sm-10">

                  <input type="text" placeholder="Nome da tabela" id="NOME_TABELA"  class="form-control" value="<%=filtro[0][0]%>"  >
                </div>
              </div>
    
              <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" placeholder="Descrição da tabela" id="DESCRICAO"  class="form-control" value="<%=filtro[0][1]%>"  >
                  </div>
              </div>
    

              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="button"  class="btn btn-primary mt-3" id="BuscarFiltro">Buscar</button>
                  <a data-js="export-table" role="button" id="exportatabelas" class="btn btn-info mt-3" >Exportar CSV</a>
                </div>
              </div>
            </form>
      </div> 
      <div style="width: 100%;" >
        <table class="table" style="width: 70%;" id="tabeladados" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Descição</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody >
                 <!-- inserido pela requição ajax apos usar o filtro -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="Triggres" role="tabpanel" aria-labelledby="profile-tab">
   <!--   Triggres  -->
   <div class="grad" style="display: flex; height: auto;padding: 30px;">
    <div style="width: 300px;height: auto;">
        <form  id="filtro" >
            <div class="form-group row">
              <div class="col-sm-10">
              <label for="NOME_TRIGGER">Nome da trigger</label>
                <input type="text" placeholder="Nome da trigger" id="NOME_TRIGGER"  class="form-control" value="<%=filtro[0][2]%>" >
              </div>
            </div>
  
            <div class="form-group row">
              <div class="col-sm-10">
                <button  class="btn btn-primary mt-3" id="BuscarTrigger">Buscar</button>
                <a data-js="export-table" role="button" id="exportatriggers" class="btn btn-info mt-3" >Exportar CSV</a>

              </div>

            </div>
          </form>
    </div> 
    <div style="width: 100%;" >
      <table class="table" style="width: 70%;" id="tabelatriggerdados" >
        <thead>
          <tr>
            <th>TRIGGER_NAME</th>
            <th>TRIGGER_TYPE</th>
            <th>TRIGGERING_EVENT</th>
            <th>TABLE_NAME</th>
            <th>STATUS</th>
                    </tr>
        </thead>
        <tbody id="tabelatrigger"   >
               <!-- inserido pela requição ajax apos usar o filtro -->
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <div class="tab-pane fade" id="Procedures" role="tabpanel" aria-labelledby="profile-tab">
   <!--   Triggres  -->
   <div class="grad" style="display: flex; height: auto;padding: 30px;">
    <div style="width: 300px;height: auto;">
        <form  id="filtro" >
            <div class="form-group row">
              <div class="col-sm-10">
              <label for="NOME_PROCEDURE">Nome da procedure</label>
                <input type="text" placeholder="Nome da procedure" id="NOME_PROCEDURE"  class="form-control" value="<%=filtro[0][3]%>" >
              </div>
            </div>
  
            <div class="form-group row">
              <div class="col-sm-10">
                <button  class="btn btn-primary mt-3" type="button" id="Buscarprocedure">Buscar</button>
                <a data-js="export-table" role="button" id="exportarprocedures" class="btn btn-info mt-3" >Exportar CSV</a>

                
              </div>

            </div>
          </form>
    </div> 
    <!-- Procedures -->
    <div style="width: 100%;" >
      <table class="table" style="width: 70%;" id="proceduredados" >
        <thead>
          <tr>
            <th>ID_PROCEDURE</th>
            <th>PROCEDURE_NAME</th>

            <!-- <th>STATUS</th> -->
                    </tr>
        </thead>
        <tbody id="tabelaprocedure"   >
               <!-- inserido pela requição ajax apos usar o filtro -->
        </tbody>
      </table>
    </div>
  </div>
  </div>
 <div class="tab-pane fade" id="Procedures" role="tabpanel" aria-labelledby="profile-tab">
   <!--   Triggres  -->
   <div class="grad" style="display: flex; height: auto;padding: 30px;">
    <div style="width: 300px;height: auto;">
        <form  id="filtro" >
            <div class="form-group row">
              <div class="col-sm-10">
              <label for="NOME_PROCEDURE">Nome da procedure</label>
                <input type="text" placeholder="Nome da procedure" id="NOME_PROCEDURE"  class="form-control" value="<%=filtro[0][3]%>" >
              </div>
            </div>
  
            <div class="form-group row">
              <div class="col-sm-10">
                <button  class="btn btn-primary mt-3" type="button" id="Buscarprocedure">Buscar</button>
                <a data-js="export-table" role="button" id="exportarprocedures" class="btn btn-info mt-3" >Exportar CSV</a>

                
              </div>

            </div>
          </form>
    </div> 
    <!-- Procedures -->
    <div style="width: 100%;" >
      <table class="table" style="width: 70%;" id="proceduredados" >
        <thead>
          <tr>
            <th>ID_PROCEDURE</th>
            <th>PROCEDURE_NAME</th>

            <!-- <th>STATUS</th> -->
                    </tr>
        </thead>
        <tbody id="tabelaprocedure"   >
               <!-- inserido pela requição ajax apos usar o filtro -->
        </tbody>
      </table>
    </div>
  </div>
  </div>

    <!--   views  -->
  <div class="tab-pane fade" id="views" role="tabpanel" aria-labelledby="profile-tab">
    <div class="grad" style="display: flex; height: auto;padding: 30px;">
     <div style="width: 300px;height: auto;">
         <form  id="filtro" >
             <div class="form-group row">
               <div class="col-sm-10">
               <label for="NOME_VIEW">Nome da view</label>
                 <input type="text" placeholder="Nome da view" id="NOME_VIEW"  class="form-control" value="<%=filtro[0][4]%>" >
               </div>
             </div>
   
             <div class="form-group row">
               <div class="col-sm-10">
                 <button  class="btn btn-primary mt-3" type="button" id="Buscarview">Buscar</button>
                 <a data-js="export-table" role="button" id="exportarview" class="btn btn-info mt-3" >Exportar CSV</a>
 
                 
               </div>
 
             </div>
           </form>
     </div> 
     <!-- views -->
     <div style="width: 100%;" >
       <table class="table" style="width: 70%;" id="tabelaviews" >
         <thead>
           <tr>
             <th>ID_VIEW</th>
             <th>VIEW</th>
                     </tr>
         </thead>
         <tbody   >
                <!-- inserido pela requição ajax apos usar o filtro -->
         </tbody>
       </table>
     </div>
   </div>
   </div>

</div>


<!---->

<script  type="module"   src="/js/Admin/dicionariodedados.js"></script>
<script type="module" src="/js/Anexos.js"></script>

<%- include('../partials/footer'); %>
