<%- include('../partials/head'); %>
<style>
  .tabela-wrapper {
    max-height: 350px; 
    overflow-y: auto; 
  }
</style>
<!--Filtro e tabela-->
<div class="grad" style="display: flex; height: auto;padding: 30px;">
    <% let filtro = P_USU.T_FILTRO %>
      <div style="width: 400px;height: 400px;">
          <form  id="filtro" >
              <div class="form-group row">
                <div class="col-sm-10">
                    <label for="NOME_USU">Nome de usuário</label>
                  <input type="text" placeholder="NOME_USU" id="NOME_USU" value="<%=filtro[0][0]%>" class="form-control"  >
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10" style="display: flex;justify-content: space-between;">
                    <label for="P_INICIO">Inicio</label>
                    <label for="P_FIM">Fim</label>
                </div>
                <div class="col-sm-10" style="display: flex;">
                   <input type="date" class="form-control"  id="P_INICIO" value="<%=filtro[0][1]%>">
                   <input type="date" min="" class="form-control"  id="P_FIM" value="<%=filtro[0][2]%>">
                </div>
              </div>
    <button id="Buscar" class="btn btn-warning">Buscar</button>
    <br>
      </div> 
      <div  style="width: 80%;display: block;" >

        <div class="tabela-wrapper" style="width:80%;display: block;" >
          <%- include('../components/exporta.ejs');%>

        <table class="table tabelatoken" style="width: 100%;min-height: 350px;" id="tabelatoken">
          <thead>
            <tr>
                <th>ID SESSÃO</th>
                <th>USUÁRIOS</th>
                <th>DATA ENTRADA </th>
                <th>DATA SAIDA </th>
            </tr>
          </thead>
          <tbody id="tbodytabelatoken" >
                 <!-- inserido pela requição ajax apos usar o filtro -->
          </tbody>
        </table>
                  
      </div>
      <div style="width: 80%;display: block;" >
        <%- include('../components/exporta.ejs');%>
        <table class="table" style="width: 100%;" id="tabeladados">
          <thead>
            <tr>
                <th>ID TELA</th>
                <th>TELA NOME</th>
                <th>DATA ENTRADA </th>
                <th>DATA SAIDA </th>
            </tr>
          </thead>
          <tbody id="tabela"   >
                 <!-- inserido pela requição ajax apos usar o filtro -->
          </tbody>
        </table>
      </div>

      </div>
    </div>
    
<!---->
<script  type="module"   src="/js/Admin/logacesso.js"></script>
<%- include('../partials/footer'); %>