<%- include('../partials/head'); %>

    <%- include('../partials/header'); %>
                    <% let CAMPOS = Objeto.CAMPOS %>
                    <% let CONSTRAINT = Objeto.CONSTRAINT %>

    <h3>Campos da tabela <%=CONSTRAINT[0][3]%> </h3>
        <table class="table mt-3" style="min-width: 800;width: 900px;"> 
            <thead>
                <tr>
                    <th>CAMPO</th>
                    <th>Tipo</th>
                    <th>NULL</th>
                    <th>Tamanho</th>
                    <th>Default</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                    <% for (var i = 0; i < CAMPOS.length; i++) { %>
                <tr>

                        <td> <%= CAMPOS[i][0] %></td>
                        <td> <%= CAMPOS[i][1] %></td>
                        <td> <%= CAMPOS[i][2] %></td>
                        <td> <%= CAMPOS[i][3] %></td>
                        <td> <%= CAMPOS[i][4] %></td>
                        <td> <%= CAMPOS[i][5] %></td>
                </tr>

                    <% } %>
                    
            </tbody>
        </table>
    <h3>Constraints relacionados a tabela <%=CONSTRAINT[0][3]%> </h3>
        <table class="table mt-3" style="min-width: 500;width: 600px;">
            <thead>
                <tr>
                    <th>CAMPO</th>
                    <th>NOME</th>
                    <th>POSICAO</th>
   
                </tr>
            </thead>
            <tbody>
                    <% for (var i = 0; i < CONSTRAINT.length; i++) { %>
                <tr>

                        <td> <%= CONSTRAINT[i][0] %></td>
                        <td> <%= CONSTRAINT[i][1] %></td>
                        <td> <%= CONSTRAINT[i][2] %></td>

                </tr>

                    <% } %>
                    
            </tbody>
        </table>
        <%- include('../partials/footer'); %>