<%- include('../partials/head'); %>
        <% let CAMPOS=Objeto.CAMPOS %>
            <% let CONSTRAINT=Objeto.CONSTRAINT %>
                <% let TABELA_NOME=Objeto.TABELA_NOME %>
                        <% let TRIGGRES=Objeto.TRIGGRES %>
                          <%let FKS=Objeto.FKS %>

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">Campos</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Triggres" role="tab"
                                        aria-controls="contact" aria-selected="false">Triggres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#FKS" role="tab"
                                        aria-controls="FKS" aria-selected="false">FKS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"><strong style="color: black;">
                                            <h5>
                                                <%=TABELA_NOME[0]%>
                                            </h5>
                                        </strong> </a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <!-- Campos -->
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <%if(CAMPOS.length==0){%>
                                        <h5>Não há registros para visualizar.</h5>
                                        <%}else{%>
                                            <table class="table mt-3 table-hover" style="width: 1000px;">
                                                <thead>
                                                    <tr>
                                                        <th>Campo</th>
                                                        <th>Tipo</th>
                                                        <th>NULL</th>
                                                        <th>Tamanho</th>
                                                        <th>Default</th>
                                                        <th>Descrição</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for (var i=0; i < CAMPOS.length; i++) { %>
                                                        <tr>
                                                            <td>
                                                                <%= CAMPOS[i][0] %>
                                                            </td>
                                                            <td>
                                                                <%= CAMPOS[i][1] %>
                                                            </td>
                                                            <td>
                                                                <%= CAMPOS[i][2] %>
                                                            </td>
                                                            <td>
                                                                <%= CAMPOS[i][3] %>
                                                            </td>
                                                            <td>
                                                                <%= CAMPOS[i][4] %>
                                                            </td>
                                                            <td>
                                                                <%= CAMPOS[i][5] %>
                                                            </td>
                                                        </tr>
                                                        <% } %>

                                                </tbody>
                                            </table>
                                </div>

                    
                                <!-- Triggres -->
                                <div class="tab-pane fade" id="Triggres" role="tabpanel" aria-labelledby="contact-tab">
                                    <%if(TRIGGRES.length==0){%>
                                        <h5>Não há Triggres para visualizar.</h5>
                                        <%}else{%>
                                            <table class="table mt-3 table-hover" style="width: 1000px;" id="tabelatriggers">
                                                <thead>
                                                    <tr>
                                                        <th>TRIGGER_NAME</th>
                                                        <th>TRIGGERING_EVENT </th>
                                                        <th>STATUS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for (var i=0; i < TRIGGRES.length; i++) { %>
                                                        <tr>
                                                            <td>
                                                                <%= TRIGGRES[i][0] %>
                                                            </td>
                                                            <td>
                                                                <%= TRIGGRES[i][1] %>
                                                            </td>
                                                            <td>
                                                                <%= TRIGGRES[i][2] %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                            </table>
                                            <%}%>
                                </div>
                                <!-- FKS -->
                                <div class="tab-pane fade" id="FKS" role="tabpanel" aria-labelledby="contact-tab">
                                    <%if(FKS.length==0){%>
                                        <h5>Não há FKS para visualizar.</h5>
                                        <%}else{%>
                                            <table class="table mt-3 table-hover" style="width: 1000px;" >
                                                <thead>
                                                    <tr>
                                                        <th>FK</th>
                                                        <th>COLUNA FK </th>
                                                        <th>TABELA REFERENCIADA</th>
                                                        <th>COLUNA REFERENCIADA</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for (var i=0; i < FKS.length; i++) { %>
                                                        <tr>
                                                            <td>
                                                                <%= FKS[i][0] %>
                                                            </td>
                                                            <td>
                                                                <%= FKS[i][1] %>
                                                            </td>
                                                            <td>
                                                                <%= FKS[i][2] %>
                                                            </td>
                                                            <td>
                                                                <%= FKS[i][3] %>
                                                            </td>
                                                        </tr>
                                                        <% } %>
                                                </tbody>
                                            </table>
                                            <%}%>
                                </div>
                            </div>
                            <%}%>
                                <script>
                                         let tabelatriggers = document.getElementById('tabelatriggers');
                                         tabelatriggers.addEventListener('dblclick',(e)=>{
                                         let elementoclicado = e.target;
                                         let elementopai = elementoclicado.parentNode;
                                         let nometrigger = elementopai.cells[0].innerText
                                         window.location.href = `/visualiza/dicionario/dados/trigger/` + nometrigger

                                         })

                                </script>
                                <%- include('../partials/footer'); %>