<meta charset="UTF-8">
<title>Horus</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" defer></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- <link rel="shortcut icon" href="/img/logo-triangular (3).png" type="image/x-icon"> -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
  <div class="progress" id="PROGRESSO" style="opacity: 0;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
      aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
  </div>
  <meta charset="UTF-8">
  <title>EJS Is Fun</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
    }

    nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* align-self: self-end; */
    }

    .caption {
      font-weight: bold;
      height: 70px;
      width: auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    #img {
      width: 60px;
      height: 60px;
      border: none;
    }

    .barratarefa {
      margin-right: 50px;
      border-radius: 10px 0 10px 10px;
      padding: 10px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .Selectedtr {
      background-color: #85e783;
    }

    .Count {
      align-self: self-end;
      border-radius: 10px 10px 0 10px;

    }
  </style>
  </style>
  <!-- Botão para acionar modal -->
  <!-- Inicio Anexo -->
  <button type="button" class="btn btn-primary" style="display: none;" data-toggle="modal" id="AnexoModal"
    data-target="#ModalAnexo">
    Abrir modal de demonstração
  </button>
  <div id="baixar"></div>
  <!-- Modal -->
  <div class="modal fade" id="ModalAnexo" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 600px;">
      <div class="modal-content">
        <div class="modal-body">
          <table class="table" id="TabelaAnexo">
            <thead>
              <td>Id</td>
              <td>Nome</td>
              <td>Data inclusão</td>
              <td>Deletar</td>
              <td>Baixar</td>
            </thead>
            <tbody id="Tbody">
              <!-- Dados sendo inseridos pelo js -->
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <form action="/Upload/Anexo" enctype="multipart/form-data" method="post">
            <input type="file" class="form-control" name="FileAnexo" id="FileAnexo">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" id="BtnAnexo" class="btn btn-warning">Salvar Anexo</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- valida o acessos -->
    <% let T_USU=P_USU.T_NOME %>
      <input type="hidden" value="<%=T_USU[2]%>" id="Id_Tela">

      <nav>
        <% let P=P_USU.P_USU %>
          <% let D=P[0] %>
            <!--VALIDANDO SE O USUÁRIO PODE INCLUIR-->
            <button class="btn btn-primary" style="margin-right: 15px;" <% if (D.INCLUI=='N' ) { %> disabled {%> <%} %>
                data-toggle="modal" data-target=".PRINCIPAL" >+</button>
            <!--VALIDANDO SE O USUÁRIO PODE EXCLUIR-->
            <button class="btn btn-danger" style="margin-right: 15px;" <% if (D.DELETA=='N' ) { %> disabled {%> <%} %>
                data-toggle="modal" id="EXCLUIR">-</button>
            <!--VALIDANDO SE O USUÁRIO PODE ALTERAR-->
            <button class="btn btn-warning" style="margin-right: 15px;" <% if (D.ALTERA=='N' ) { %> disabled {%> <%} %>
                data-toggle="modal" data-target=".EDITAR" id="EDITAR">A</button>
            <!-- <div  style="margin-right: 15px;" data-toggle="tooltip" data-html="true" title="Mensagens" id="MsgPreve">
    <svg 
      xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
      <path
        d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z">
      </path>
    </svg> <span class="badge badge-primary" id="notificacao"></span>
    </div> -->


            <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="<%=T_USU[1]%>" style="margin-right: 15px;"> ?</button> -->
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
              title="<%=T_USU[3]%>" style="margin-right: 15px;"> #</button>
            <% let A_ACAO=P_USU.T_ACAO%>

              <%if (A_ACAO.length !=0){%>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    . . .
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%A_ACAO.forEach(RESULT=>{%>
                      <a class="dropdown-item" data-toggle="modal" data-target="#<%=RESULT.ID_JS%>">
                        <%=RESULT.DESCRICAO%>
                      </a>
                      <%})%>
                  </div>
                </div>
                <%}%>

                  <form action="/logout" method="post" style="margin-left: 15px;"> <button type="submit"
                      class="btn btn-secondary mt-3">Sair</button>
                  </form>


      </nav>
      <!---->
      <nav>
        <div>
          <input type="hidden"class="nametelaatual" value="<%=T_USU[0]%>">
          <input type="hidden"class="nameusuarioaatual___" value="<%=D.USU_NOME%>">
          <%=T_USU[0]%>
        </div>
        <input type="hidden" value="<%=T_USU[2]%>" id="ID_TELA_ATUAL">

      </nav>
      <!---->



      <nav>

        <div class="input-group mb-3" style="width: 300px;">
          <div class="input-group-prepend">
            <label class="input-group-text" id="irParaLink" for="irParaLink">Pesquisar</label>
          </div>
          <input list="meuSelect" type="text" class="form-control" id="inputText">
          <datalist id="meuSelect">
            <option value="">Consulte suas telas</option>

          </datalist>
        </div>
        </div>

      </nav>
  </nav>

  <script>
    let selectElement = document.getElementById('inputText');
    let buttonElement = document.getElementById('irParaLink');
    buttonElement.addEventListener('click', function () {
      if (selectElement.value) {
        window.location.href = selectElement.value;
      }
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    let PROGRESSO = document.getElementById('PROGRESSO');
    document.getElementById('irParaLink').addEventListener('click', () => {
      //mostra ao usuário a barra de progresso
      if (document.getElementById('inputText').value != '') {
        PROGRESSO.style.opacity = '1'

      }
    })
  </script>
</body>

</html>





</script>