<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { padding-top:50px; }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #img{
        width: 60px;
        height: 60px;
        border: none;
    }

</style>
<!-- Botão para acionar modal -->
<!-- Inicio Anexo -->
<button type="button" class="btn btn-primary" style="display: none;" data-toggle="modal" id="AnexoModal" data-target="#ModalAnexo">
    Abrir modal de demonstração
  </button>
  <div id="baixar"></div>
  <!-- Modal -->
<div class="modal fade" id="ModalAnexo" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 600px;">
<div class="modal-content">
<div class="modal-body">
<table class="table" id="TabelaAnexo">
  <thead>
      <td>Id</td>
      <td>Nome</td>
      <td>Data inclusão</td>
      <td>Deletar</td>
      <td>Baixar</td>
  </thead>
  <tbody id="Tbody">
      <!-- Dados sendo inseridos pelo js -->
  </tbody>
</table>
</div>
<div class="modal-footer">
<form action="/Upload/Anexo" enctype="multipart/form-data" method="post">
<input type="file" class="form-control" name="FileAnexo" id="FileAnexo">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
<button type="submit" id="BtnAnexo" class="btn btn-warning">Salvar Anexo</button>
</form>
</div>
</div>
</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- valida o acessos -->
    <% let T_USU = P_USU.T_NOME %>
    <input type="hidden" value="<%=T_USU[2]%>" id="Id_Tela">

    <nav>
        <% let P = P_USU.P_USU %>
        <% let D = P[0] %>
     <!--VALIDANDO SE O USUÁRIO PODE INCLUIR-->
     <% if (D.INCLUI === 'N') { %>  
        <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" data-target=".PRINCIPAL" disabled >+</button>
    <% }else{ %>
        <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" data-target=".PRINCIPAL"  >+</button>
    <%}%>

     <!--VALIDANDO SE O USUÁRIO PODE EXCLUIR-->
     <% if (D.DELETA === 'N') { %> 
        <button class="btn btn-primary"  style="margin-right: 15px;" data-toggle="modal" id="EXCLUIR" disabled >-</button>
    <% } else{%>
    <button class="btn btn-primary"  style="margin-right: 15px;" data-toggle="modal" id="EXCLUIR" >-</button>
    <%}%>

     <!--VALIDANDO SE O USUÁRIO PODE ALTERAR-->
     <% if (D.ALTERA == 'N') { %> 
        <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" id="EDITAR" disabled  >A</button>
    <% }else{ %>
        <button class="btn btn-primary "  style="margin-right: 15px;" data-toggle="modal" id="EDITAR" data-target=".EDITAR"   >A</button>
    <%}%> 
     <% if (D.ANEXA == 'N') { %> 
        <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" disabled  >Anexo</button>
    <% }else{ %>
        <button class="btn btn-primary "  style="margin-right: 15px;" data-toggle="modal" data-target=".ANEXO" id="ANEXO" >Anexo</button>
    <%}%> 

    <button type="button"  class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="<%=T_USU[1]%>" style="margin-right: 15px;"> ?</button>
   <form action="/logout" method="get"> <button type="submit"  class="btn btn-secondary mt-3"    >Sair</button></form>
   

</nav>

 <!---->
 <nav>
    <div ><%=T_USU[0]%></div> 

 </nav>
 <!---->
 
 <nav>

 <div class="input-group mb-3" style="width: 300px;">
    <div class="input-group-prepend">
      <label class="input-group-text" id="irParaLink" for="irParaLink">Pesquisar</label>
    </div>
    <select style="width: 200px;" class="custom-select" id="meuSelect">
        <option value="" >consulte suas telas</option>
        <% let usu = P_USU.T_USU %>
        <% usu.forEach(a => { %>
            <option value="<%= a[1] %>"><%= a[0] %></option>
        <% }) %>
    </select>
      </div>
    </div>
   <img src="/img/uploads/<%=D.PATH_IMG%>" width="80px" height="80px" alt="<%=D.PATH_IMG%>">
        
 </nav>
  </nav>
  <div><%=D.PATH_IMG%></div>

<script>
        const selectElement = document.getElementById('meuSelect');
        const buttonElement = document.getElementById('irParaLink');

        buttonElement.addEventListener('click', function() {
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            if (selectedOption.value) {
                window.location.href = selectedOption.value;
            }
        });



</script>
</body>
</html>





</script>


