<%-include('../partials/head')%>
<% let P = P_USU.P_USU %>
<% let D = P[0] %>
<!--  -->
<div class="modal fade PRINCIPAL" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl" style="width: 500px;">
      <div class="modal-content">
        <form class="needs-validation" id="form" novalidate>
          <div class="container" style="padding: 40px;" >
              <div class="row">
                <p>Preço por produto</p>
                <label for="">Produto</label>
                <div style="display: flex; flex-direction: row;">
                    <input type="text" required id="CODPROD_"  name="COD_PROD" style="width: 90px;margin-right: 8px;" class="form-control TddCam">
                    <input type="text" required  id="NOMEPROD" class="form-control  " placeholder="Produto" >
                </div>
                <div class="col-sm"  >
                    <label >Preço</label>
                   <input type="text" class="form-control TddCam"  name="PRECO" required>
                </div>

              </div>
          
              </div>
              <button style="margin-left: 40px;" id="Salvar" type="submit" class="btn btn-warning ">Salvar</button>
          </form>

     </div>

          
      </div>
    </div>
  </div>
  <!--editar registro-->
<div class="modal fade EDITAR" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-xl" style="width: 500px;">
    <div class="modal-content">
      <form class="needs-validation" id="form_produto"  novalidate>
        <div class="container" style="padding: 40px;" >
         <p>Alteração por produto</p> 
            <div class="row">
              <div class="col-sm"  >
                <label for="">Produto</label>
                 <div style="display: flex; flex-direction: row;">
                    <input type="text"  id="CODPROD_2"  style="width: 90px;margin-right: 8px;" class="form-control" required>
                    <input type="text"   id="NOMEPROD_2" class="form-control  " placeholder="Produto"  required>
                </div>
                  <label for="">Preço novo</label>
                 <input type="text" class="form-control" id="PRECO_PROD" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">

                <label for="">Preço anterior</label>
                <input type="text" class="form-control" id="PRECO_PROD_ANTERIOR" required disabled>
              </div>
              <div class="col-sm">
                <div class="custom-control custom-checkbox mt-4"> 
                  <input type="checkbox" class="custom-control-input "  name="STATUS_TABELA"  id="STATUS_TABELA">
                  <label class="custom-control-label"  for="STATUS_TABELA">Ativo?</label>
                </div> 
              </div>
            </div>
            </div>
            <% if (D.ALTERA == 'N') { %> 
              <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" disabled  >Salvar</button>
          <% }else{ %>
              <button style="margin-left: 40px;" id="SALVA_EDICAO"  class="btn btn-warning ">Salvar</button>

          <%}%> 
        </form>
          
    </div>
    <div class="modal-content">
      <form class="needs-validation" id="form_categoria" novalidate>
        <div class="container" style="padding: 40px;" >
            <div class="row">
                <p>Alteração por categoria</p>
              <div class="col-sm"  >
                  <label for="">Tipo alteração</label>
                <select name="TIPO" id="TIPO" class="form-control TddCam" required>
                    <option value="A" selected>Para mais</option>
                    <option value="D">Para menos</option>
                </select>
              </div>
              <div class="col-sm">
                <label for="">Percentual</label>
                <input type="text" id="PERCENTUAL" class="form-control TddCam" name="PERC" placeholder="00,00" required>
              </div>
              <label for="">Categoria de produto</label>
              <div style="display: flex; flex-direction: row;">
                  <input type="text"  id="COD_CAT_1"  style="width: 90px;margin-right: 8px;" name="COD_CAT" class="form-control TddCam" required>
                  <input type="text"   id="NOME_CAT_1" class="form-control  " placeholder="Produto" required>
              </div>
            </div>
            </div>
            <% if (D.ALTERA == 'N') { %> 
              <button class="btn btn-primary" style="margin-right: 15px;" data-toggle="modal" disabled  >Salvar</button>
          <% }else{ %>
              <button style="margin-left: 40px;" id="SALVA_EDICAO"  class="btn btn-warning ">Salvar</button>

          <%}%> 
        </form>
          
    </div>
        
    </div>
  </div>
</div>
<!--  -->
<!-- Log de alterações -->
<div class="modal fade " id="DJTVBKUBGK" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content"  style="padding: 5px;">
      <form class="needs-validation" id="Auditoria_sql"  novalidate>
        <div class="container" style="padding: 20px;" >
         <p>Auditoria de tabela de  preços</p> 
            <div class="row">
              <div class="col-sm"  >
                <label for="">Periodo</label>
                 <div style="display: flex; flex-direction: row;">
                    <input type="date"  id="P_INI"  style="margin-right: 8px;" class="form-control" required>
                    <input type="date"   id="P_FIN" class="form-control  " placeholder="Produto" required >
                </div>
                  <label for="">Tipo</label>
                <select id="TDDOPC" class="form-control" required>
                  <option value="">Selecione uma opção</option>
                  <option value="A">Aumento de preços por categoria</option>
                  <option value="D">Diminuição de preços por categoria</option>
                  <option value="P">Alteração por produto</option>
                  <option value="I">Somente inclusão de tabela de preço</option>
                </select>
              </div>
              <div class="col-sm"  >
                <label for="">Produto</label>
                 <div style="display: flex; flex-direction: row;">
                    <input type="text"  id="P_PRDT"  style="width: 90px;margin-right: 8px;" class="form-control" >
                    <input type="text"   id="P_PRDT_N" class="form-control  " placeholder="Produto" >
                </div>
                <label for="">Categoria</label>
                 <div style="display: flex; flex-direction: row;">
                    <input type="text"  id="P_CAT"  style="width: 90px;margin-right: 8px;" class="form-control" >
                    <input type="text"   id="P_CAT_N" class="form-control  " placeholder="Categoria produto" >
                </div>

              </div>
              <div class="col-sm">
                <label for="">Usuário</label>
                <input type="text" class="form-control" id="ID_USU" placeholder="Nome do usuario">
                  <button  id="Filtra_auditoria"  class="btn btn-warning mt-4">Consultar</button>
                  <button type="reset"   class="btn btn-primary mt-4">Limpar filtro</button>
              </div>

            </div>
            </div>

        </form>

    <%- include('../components/exporta.ejs');%>
        <table class="table " id="Tabela_auditoria">
          <thead>
            <th>Id</th>
            <th>Descrição</th>
            <th id="DT_ALT_INCLU">Dt. alteração</th>
          </thead>
          <tbody>
            
          </tbody>
        </table>
    </div>
  </div>
</div>
  
</div>
<!--  -->
<div class="grad" style="display: flex;height: auto;padding: 30px;">
  <div style="width: 400px;height: 400px;">
   <form id="form_filtro">
<%let filtro = P_USU.T_FILTRO%> 

    <div class="form-group row">

        <div class="col-sm-12">
            <span >Cod. produto</span>
            <input type="number" id="COD_PROD_F"  class="form-control" placeholder="ID"  value="<%=filtro[0][0]%>">
        </div>
 
        <div class="col-sm-12">
            <span >Nome produto</span>
            <input type="text" id="DESC_PROD_F" class="form-control" placeholder="Descrição"  value="<%=filtro[0][1]%>">
        </div>

        <label for="">Categoria de produto</label>
        <div style="display: flex; flex-direction: row;">
            <input type="text"  id="COD_CAT"  style="width: 90px;margin-right: 8px;" class="form-control">
            <input type="text"   id="NOME_CAT" class="form-control  " placeholder="Produto" >
        </div>

    </div>

    <button class="btn btn-warning">Buscar</button>
    <button type="reset"   class="btn btn-primary">Limpar filtro</button>
    
   </form>
  </div>
  <!-- Tabela -->
  <div style="width: 700px;display: block;margin-left: 10px;">
    <%- include('../components/exporta.ejs');%>

    <table class="table table-hover" style="height: auto;width: 700px;" id="TabelaPrecos">

      <thead>
          <tr>
              <th>Cod. tabela</th>
              <th>Produto</th>
              <th>Status</th>
              <th>Preço</th>
          </tr>
      </thead>
      <tbody>
          <!-- Dados sendo inseridos automaticamente -->
      </tbody>
    </table>
  </div>

</div>
<script type="module" src="/js/cadastro/tabeladepreco.js"></script>
<%-include('../partials/footer')%>