<%-include('../partials/head')%>
<div class="row">
        <%result.forEach(result=>{%>

                
    <div class="col-sm-3" >

        <span >Código</span>
        <div style="display: flex; flex-direction: row;">
            <input type="text" disabled class="form-control" placeholder="Código do produto"  value="<%=result.PRDT_ID%>"  id="PRDT_ID" required>
        </div>

        <span >Nome</span>
        <div style="display: flex; flex-direction: row;">
            <input type="text" class="form-control" placeholder="Nome do produto"  value="<%=result.PRDT_NOME%>"  id="PRDT_NOME" required>
        </div>
        
        <label >Descrição</label>
        <div style="display: flex; flex-direction: row;">
            <input type="text" class="form-control" placeholder="Descrição" value="<%=result.PRDT_DESCRICAO%>"   id="PRDT_DESC" required>
        </div>
        <label >Nr. peças</label>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="Nr. de peças" value="<%=result.PRDT_NR_PECA%>"   id="PRDT_NR_PECA" required>
        </div>

        <label >Categoria</label>
        <div style="display: flex; flex-direction: row;">
            <input type="text" required  id="PRDT_ID_CTG" style="width: 80px;margin-right: 8px;" class="form-control"  value="<%=result.PRDT_ID_CTG%>" >
            <input type="text" required   id="PRDT_NOME_CTG" class="form-control  " placeholder="Categoria" value="<%=result.CTG_DESCRICAO%>"> 
           </div>
        <label >Marca</label>
        <div style="display: flex; flex-direction: row;">
            <input type="text" required  id="PRDT_MARCA" style="width: 80px;margin-right: 8px;" class="form-control " value="<%=result.PRDT_MARCA%>">
            <input type="text" required   id="PRDT_MARCA_NOME" class="form-control  " placeholder="Marca" value="<%=result.MARCA_NOME%>"> 
           </div>
        <label >Usado como</label>
        <div style="display: flex; flex-direction: row;">
            <%let US = result.PRDT_USADO_COMO%>
          <select  id="PRDT_USADO_COMO"  class="form-control" required>
              <option value="">Selecione uma opção</option>
              <option <%if(US == 'R'){%>selected<%}%> value="R"  >Revenda</option>
              <option <%if(US == 'B'){%>selected<%}%> value="B"  >Brinde</option>
              <option <%if(US == 'A'){%>selected<%}%>  value="A"  >Amostra</option>
              <option <%if(US == 'P'){%>selected<%}%> value="P"  >Patrimonio</option>
              <option <%if(US == 'U'){%>selected<%}%> value="U"  >Uso e consumo</option>
              <option <%if(US == 'D'){%>selected<%}%> value="D"  >Demostração</option>
            </select>
        </div>

        <label >Ncm</label>
        <div style="display: flex; flex-direction: row;">
            <input type="text" required  id="PRDT_NCM" style="width: 100px;margin-right: 6px;" class="form-control " value="<%=result.PRDT_NCM%>">
            <input type="text" required   id="PRDT_NCM_DESC" class="form-control  " placeholder="Descrição Ncm"   value="<%=result.NCM_DESC%>">
           </div>

        <span >Estoque minimo</span>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="00,000"    id="PRDT_EST_MIN" value="<%=result.PRDT_EST_MIN%>">
        </div>
        <span >Estoque máximo</span>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="00,000"    id="PRDT_EST_MAX" value="<%=result.PRDT_EST_MAX%>">
        </div>

    </div>
    <div class="col-sm-3" >
      
        <span >Peso bruto</span>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="00,000"    id="PRDT_P_BRUTO" value="<%=result.PRDT_P_BRUTO%>">
        </div>
        <span >Peso liquido</span>
        <div style="display: flex; flex-direction: row;" > 
            <input type="number" class="form-control" placeholder="00,000"    id="PRDT_P_LIQUIDO" value="<%=result.PRDT_P_LIQUIDO%>">
        </div>
        <span >Altura em centimetro</span>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="Altura"    id="PRDT_ALTURA" value="<%=result.PRDT_ALTURA%>">
        </div>

        <span >Largura em centimetro</span>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="Largura"    id="PRDT_LARGURA" value="<%=result.PRDT_LARGURA%>">
        </div>
        <span >Margem de lucro (%)</span>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="% 000,00"    id="PRDT_MARGEM_LUCRO" value="<%=result.PRDT_MARGEM_LUCRO%>">
        </div>
        <span >Comissão vendedor (%)</span>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="% 000,00"    id="PRDT_COMISSAO_VND" value="<%=result.PRDT_COMISSAO_VND%>">
        </div>
        <span >Comissão gerente (%)</span>
        <div style="display: flex; flex-direction: row;">
            <input type="number" class="form-control" placeholder="% 000,00"    id="PRDT_COMISSAO_GER"  value="<%=result.PRDT_COMISSAO_GER%>">
        </div>
        <div class="custom-control custom-checkbox"> 
          <input type="checkbox" <%if(result.PRDT_CAL_COMISSAO == 'S'){%>checked="true"<%}%>  class="custom-control-input"  id="PRDT_CAL_COMISSAO" >
          <label class="custom-control-label"  for="PRDT_CAL_COMISSAO">Calcula comissão?</label >
        </div> 
        <div class="custom-control custom-checkbox"> 
          <input type="checkbox" <%if(result.PRDT_STATUS == 'S'){%>checked="true"<%}%>  class="custom-control-input"  id="PRDT_STATUS" >
          <label class="custom-control-label"  for="PRDT_STATUS">Ativo?</label >
        </div> 

 
    </div>     
    <div class="col-sm-3" >

        <span >Desconto máximo (%)</span>
        <div style="display: flex; flex-direction: row;">
            <input type="text" class="form-control" placeholder=" % 000,00"    id="PRDT_DESC_MAX" value="<%=result.PRDT_DESC_MAX%>">
        </div>

        <span >Código de barra</span>
        <div style="display: flex; flex-direction: row;">
            <input type="text" class="form-control" placeholder="Código de barra"    id="PRDT_COD_BARRA" value="<%=result.PRDT_COD_BARRA%>">
        </div>
        <span >Caracteristicas</span>
        <div style="display: flex; flex-direction: row;">
          <textarea  name="CARACT_PRDT" id="CARACT_PRDT" cols="30" rows="10" class="form-control"><%=result.PRDT_CARACT%></textarea>
        </div>
        <span >Usuário inclusão</span>
        <div style="display: flex; flex-direction: row;">
            <input type="text" class="form-control" placeholder="Código de barra"    value="<%=result.ID_USU_INCLUSAO%>" disabled>
        </div>
        <span >Data inclusão </span>
        <div style="display: flex; flex-direction: row;">
            <input type="text" class="form-control" placeholder="Código de barra"  value="<%=result.DT_INCLU%>" disabled>
        </div>
        <span >Usuário alteração</span>
        <div style="display: flex; flex-direction: row;">
            <input type="text" class="form-control" placeholder="Código de barra"  value="<%=result.ID_USU_ALT%>" disabled>
        </div>
        <span >Data alteração</span>
        <div style="display: flex; flex-direction: row;">
            <input type="text" class="form-control" placeholder="Código de barra"  value="<%=result.DT_ALTER%>" disabled>
        </div>
 
    </div>     
    <%})%>      
</div>

<script type="module" src="/js/cadastro/visualizaproduto.js"></script>
<%-include('../partials/footer')%>
