<%- include('../partials/head'); %>

    <div class="modal fade PRINCIPAL" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="padding: 10px;">
                <div class="modal-header">
                    <h5>Cadastre um Parceiro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                  </button>
                </div>
     
                <form class="needs-validation" id="FormParceiro" novalidate>
           
                        <div class="row">

                            <div class="col-12 col-md-6 col-lg-4">

                                <span class="mt-2 form-label" >Nome</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Nome do parceiro"
                                     name="PARC_N_RAZAO_SOCIAL"   id="PARC_N_RAZAO_SOCIAL" required>
                                </div>

                                <label for="">Razão social</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Razão social" name="PARC_NOME" id="PARC_NOME"
                                        required>
                                </div>
                                <label for="">CPF/CNPJ</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="number" class="form-control TddCam" name="PARC_CGC_" placeholder="CPF/CNPJ" id="PARC_CGC_"
                                        required>
                                </div>
                                <label for="">IE/RG</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" name="IE_RG" placeholder="IE/RG" id="PARC_IR_RG"
                                        >
                                </div>
                                <label for="">Email</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" name="PARC_EMAIL" placeholder="exemplo@gmail.com"
                                        id="PARC_EMAIL" required>
                                </div>
                                <label for="">Nascimento/fundação</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="date" class="form-control TddCam" name="PARC_NASC" id="PARC_NASC" required>
                                </div>

                                <span class="mt-2">Telefone</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" name="PARC_TEL" placeholder="Telefone 1" id="PARC_TEL"
                                        required>
                                </div>
                                <span class="mt-2">Telefone</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" name="PARC_TEL_2" placeholder="Telefone 2" id="PARC_TEL_2">
                                </div>

                            </div>
                            <div class="col-12 col-md-6 col-lg-4">

                                <span >Empresa de trabalho</span></p>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" name="PARC_TRABALHO_N" placeholder="Empresa de trabalho"
                                        id="PARC_TRABALHO_N">
                                </div>
                                <span class="mt-2">CEP do trabalho</span></p>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="CEP do trabalho"
                                      name="PARC_CEP_T"  id="PARC_CEP_T">
                                </div>
                                <span class="mt-2">Bairro do trabalho</span></p>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Bairro do trabalho"
                                     name="PARC_BAIRRO_T"   id="PARC_BAIRRO_T">
                                </div>
                                <label for="">Cidade</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text"  id="ID_CID_F" name="PARC_CID_F" style="width: 80px;margin-right: 8px;"
                                        class="form-control cidade TddCam">
                                    <input type="text"  id="NOME_CID_F" class="form-control  "
                                        placeholder="Cidade">
                                </div>
                                <span class="mt-2">Logradouro do trabalho</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Logradouro do trabalho"
                                        id="PARC_LOGRA_T" name="PARC_LOGRA_T">
                                </div>
                                <span class="mt-2">Numero do trabalho</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Numero do trabalho" name="PARC_NUM_T"   id="PARC_NUM_T">
                                </div>
                                <span class="mt-2">Complemento do trabalho</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Complemento do trabalho" name="PARC_COMP_T"
                                        id="PARC_COMP_T">
                                </div>
                                <span class="mt-2">Telefone do trabalho</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Complemento do trabalho"
                                       name="PARC_COMP_T" id="PARC_TEL_T">
                                </div>
                                <span class="mt-2">Salário base</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="number" class="form-control TddCam" placeholder="Salário base"
                                      name="PARC_SALARIO"  id="PARC_SALARIO" >
                                </div>
                                <span class="mt-2">Data admissão</span>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="date" class="form-control TddCam" name="PARC_ADMISSAO" id="PARC_ADMISSAO" required>
                                </div>

                            </div>
                            <div class="col-12 col-md-6 col-lg-4">

                                <label for="">CEP</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Cep" name="PARC_CEP" id="PARC_CEP" required>
                                </div>
                                <label for="ESTADO">Estado</label>
                                <select id="ESTADO" name="UF" class="form-control TddCam" required>
                                    <option value="">Selecione</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espirito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                                <label for="">Cidade</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="number" id="ID_CID" name="ID_CIDADE" style="width: 80px;margin-right: 8px;"
                                        class="form-control TddCam ">
                                    <input type="text" name="" id="NOMECID" class="form-control  " placeholder="Cidade">
                                </div>
                                <label for="">Bairro</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Bairro" name="PARC_BAIRRO" id="PARC_BAIRRO"
                                        required>
                                </div>
                                <label for="">Logradouro</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Logradouro" name="PARC_LOGRA" id="PARC_LOGRA"
                                        required>
                                </div>
                                <label for="">Numero</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Numero" name="PARC_NUM" id="PARC_NUM" required>
                                </div>
                                <label for="">Complemento</label>
                                <div style="display: flex; flex-direction: row;">
                                    <input type="text" class="form-control TddCam" placeholder="Complemento" name="PARC_COMP" id="PARC_COMP">
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input TddCam" name="PARC_FORNEC" id="PARC_FORNEC">
                                    <label class="custom-control-label" for="PARC_FORNEC">Fornecedor?</label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button id="SALVAR"  class="btn btn-success">Salvar</button>
                            <button id="IMPORTAR" class="btn btn-warning">Importar dados</button>
                        </div>
     
                </form>


        </div>

    </div>
    </div>
    </div>

    <!--FILTRO E TABELA-->
    <div style="display: flex;padding: 50px;min-width: 300px;" class="MIN_CONTAINER">
        <% filtro=P_USU.T_FILTRO %>
            <div  class="MIN_FILTRO">
                <label for="ID">ID</label>
                <input type="number" class="form-control" placeholder="ID do parceiro" id="ID"
                    value="<%=filtro[0][0]%>">
                <label for="NOME_F">Nome</label>
                <input type="text" class="form-control" placeholder="Nome do parceiro" id="NOME_F"
                    value="<%=filtro[0][1]%>">
                <label for="CGC">CPF / CNPJ</label>
                <input type="number" class="form-control" id="CGC" placeholder="CPF/CNPJ" value="<%=filtro[0][2]%>">
                <label for="IE_RG_F">IE / RG</label>
                <input type="number" class="form-control" id="IE_RG_F" placeholder="IE / RG" value="<%=filtro[0][3]%>">
                <label for="UF">Estado</label>
                <select id="UF" class="form-control" value="<%=filtro[0][4]%>">
                    <option value="">Selecione um estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>

                <label for="ATIVO">Somente ativos?</label>
                <% if(filtro[0][5]=='S' ){%>
                    <input type="checkbox" id="ATIVO" checked>
                    <%}else{%>
                        <input type="checkbox" id="ATIVO">
                        <%}%>
                            <br>

                            <label for="FORNECEDOR">Somente fornecedor?</label>
                            <% if(filtro[0][6]=='S' ){%>
                                <input type="checkbox" id="FORNECEDOR" checked>
                                <%}else{%>
                                    <input type="checkbox" id="FORNECEDOR">
                                    <%}%>
                                        <br>

                                        <label for="BLOQUEADOS">Venda bloqueada?</label>
                                        <% if(filtro[0][7]=='S' ){%>
                                            <input type="checkbox" id="BLOQUEADOS" checked>
                                            <%}else{%>
                                                <input type="checkbox" id="BLOQUEADOS">
                                                <%}%>
                                                    <br>

                                                    <button id="Buscar" type="submit"
                                                        class="btn btn-success">Buscar</button>
                                                    <br>


            </div>
            <div style="width: 100%;display: block;">
                <%- include('../components/exporta.ejs');%>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>ID</th>
                            <th style="max-width:300px;">Nome</th>
                            <th>CPF/CNPJ</th>
                            <th>IE_RG</th>
                            <th>Email</th>
                        </thead>
                        <tbody>
                            <!-- Dados -->
                        </tbody>
                    </table>
                </div>
                
            </div>
    </div>
    <script type="module" src="/js/parceiro/parceiro.js"></script>
    <%- include('../partials/footer'); %>