<%- include('../partials/head'); %>
        <div class="modal fade PRINCIPAL" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <form class="needs-validation" id="form" novalidate>
                        <div class="container" >
                            <div class="row">
                                
                                <div class="col-sm-3" style="padding: 50px;width: 356px;">

                                    <p><span class="mt-2">Nome</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Nome do parceiro"    id="PARC_N_RAZAO_SOCIAL" required>
                                    </div>

                                    <label for="">Razão social</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Razão social"  id="PARC_NOME" required>
                                    </div>
                                    <label for="">CPF/CNPJ</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="number" class="form-control" placeholder="CPF/CNPJ"   id="PARC_CGC_" required>
                                    </div>
                                    <label for="">IE/RG</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="number" class="form-control" placeholder="IE/RG"     id="PARC_IR_RG" required>
                                    </div>
                                    <label for="">Email</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="exemplo@gmail.com"   id="PARC_EMAIL" required>
                                    </div>
                                    <label for="">Nascimento/fundação</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="date" class="form-control" placeholder="exemplo@gmail.com"   id="PARC_NASC" required>
                                    </div>

                                    <p><span class="mt-2">Telefone</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Telefone 1"    id="PARC_TEL" required>
                                    </div>
                                    <p><span class="mt-2">Telefone</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Telefone 2"    id="PARC_TEL_2">
                                    </div>

                                </div>
                                <div class="col-sm-3" style="padding: 50px;width: 356px;">

                                    <p><span class="mt-2">Empresa de trabalho</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Empresa de trabalho"    id="PARC_TRABALHO_N">
                                    </div>
                                    <p><span class="mt-2">CEP do trabalho</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="CEP do trabalho"    id="PARC_CEP_T">
                                    </div>
                                    <p><span class="mt-2">Bairro do trabalho</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Bairro do trabalho"    id="PARC_BAIRRO_T">
                                    </div>
                                    <label for="">Cidade</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" required  id="ID_CID_F" style="width: 80px;margin-right: 8px;" class="form-control mt-2 cidade">
                                        <input type="text" required   id="NOME_CID_F" class="form-control mt-2 " placeholder="Cidade" >
                                       </div>
                                    <p><span class="mt-2">Logradouro do trabalho</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Logradouro do trabalho"    id="PARC_LOGRA_T">
                                    </div>
                                    <p><span class="mt-2">Numero do trabalho</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Numero do trabalho"    id="PARC_NUM_T">
                                    </div>
                                    <p><span class="mt-2">Complemento do trabalho</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Complemento do trabalho"    id="PARC_COMP_T">
                                    </div>
                                    <p><span class="mt-2">Telefone do trabalho</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Complemento do trabalho"    id="PARC_TEL_T">
                                    </div>
                                    <p><span class="mt-2">Salário base</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="number" class="form-control" placeholder="Salário base"    id="PARC_SALARIO">
                                    </div>
                                    <p><span class="mt-2">Data admissão</span></p>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="date" class="form-control"   id="PARC_ADMISSAO">
                                    </div>
                             
                                </div>
                                <div class="col-sm-3" style="padding: 50px;width: 456px;">

                                    <label for="">CEP</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Cep"  id="PARC_CEP" required>
                                    </div>
                                    <label for="ESTADO">Estado</label>
                                    <select id="ESTADO" name="ESTADO"  class="form-control" required >
                                        <option value="">Selecione</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espirito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                    <label for="">Cidade</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="number" required  id="ID_CID" style="width: 80px;margin-right: 8px;" class="form-control mt-2 cidade">
                                        <input type="text"    id="NOME_CID" class="form-control mt-2 " placeholder="Cidade" >
                                       </div>
                                    <label for="">Bairro</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Bairro"    id="PARC_BAIRRO" required>
                                    </div>
                                    <label for="">Logradouro</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Logradouro"  id="PARC_LOGRA" required>
                                    </div>
                                    <label for="">Numero</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Numero"   id="PARC_NUM" required>
                                    </div>
                                    <label for="">Complemento</label>
                                    <div style="display: flex; flex-direction: row;">
                                        <input type="text" class="form-control" placeholder="Complemento"   id="PARC_COMP">
                                    </div>

                                    <div class="custom-control custom-checkbox"> 
                                        <input type="checkbox" class="custom-control-input"  id="PARC_FORNEC" >
                                        <label class="custom-control-label"  for="PARC_FORNEC">Fornecedor?</label>
                                      </div> 
                                 </div>

                            </div>
                            <button id="SALVAR" style="margin-left: 50px;" class="btn btn-success mt-3">Salvar</button>
                            <button id="IMPORTAR"  class="btn btn-warning mt-3">Importar dados</button>
                </form>

                        </div>
           
                </div>

            </div>
        </div>
        </div>

        <!--FILTRO E TABELA-->
        <div style="display: flex;padding: 50px;">
            <% filtro = P_USU.T_FILTRO %>
            <div style="width: 300px;margin-right: 20px;">
                <label for="ID">ID</label>
                <input type="number" class="form-control" placeholder="ID do parceiro" id="ID" value="<%=filtro[0][0]%>">
                <label for="NOME_F">Nome</label>
                <input type="text" class="form-control" placeholder="Nome do parceiro" id="NOME_F" value="<%=filtro[0][1]%>">
                <label for="CGC">CPF / CNPJ</label>
                <input type="number" class="form-control" id="CGC" placeholder="CPF/CNPJ" value="<%=filtro[0][2]%>">
                <label for="IE_RG_F">IE / RG</label>
                <input type="number" class="form-control" id="IE_RG_F" placeholder="IE / RG" value="<%=filtro[0][3]%>">
                <label for="UF">Estado</label>
                <select id="UF"  class="form-control" value="<%=filtro[0][4]%>">
                    <option value="">Selecione um estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
                
                <label for="ATIVO" >Somente ativos?</label>
               <% if(filtro[0][5] == 'S'){%>
                    <input type="checkbox" id="ATIVO" checked >
                <%}else{%>
                    <input type="checkbox" id="ATIVO" >
                <%}%>
                <br>

                <label for="FORNECEDOR">Somente fornecedor?</label>
                <% if(filtro[0][6] == 'S'){%>
                    <input type="checkbox" id="FORNECEDOR" checked>
                    <%}else{%>
                <input type="checkbox" id="FORNECEDOR">
                    <%}%>
                <br>

                <label for="BLOQUEADOS">Venda bloqueada?</label>
                <% if(filtro[0][7] == 'S'){%>
                    <input type="checkbox" id="BLOQUEADOS" checked>
                <%}else{%>
                    <input type="checkbox" id="BLOQUEADOS">
                <%}%>
                <br>
                
                <button id="Buscar" type="submit" class="btn btn-success">Buscar</button>
                <button id="TOTAL" class="btn btn-success ">00</button>
<br>
                <%-include('../components/csv.ejs')%>


            </div>
            <div style="width: 100%;">
                <table class="table table-hover"  id="tabeladados">
                    <thead>
                        <th>ID</th>
                        <th style="max-width:300px ;">Nome</th>
                        <th>CPF/CNPJ</th>
                        <th>IE_RG</th>
                        <th>Email</th>
                    </thead>
                    <tbody id="tabelaparceiro">

                    </tbody>
                </table>
            </div>
        </div>
        <script type="module" src="/js/parceiro/parceiro.js"></script>
        <%- include('../partials/footer'); %>