<%- include('../partials/head'); %>
<!-- Modal extra grande -->


<div class="modal fade PRINCIPAL" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form class="needs-validation" id="form" novalidate>
        <div class="container">
            <div class="row">
              <div class="col-sm"  style="padding: 50px;">

        
                <%- include('../components/usuario') %>
                <%- include('../components/parceiro') %>
                <%- include('../components/vendedor') %>
                <%- include('../components/grupo') %>

                 <p><span class="mt-2">Senha</span></p>
                <input type="password" id="USU_SENHA" class="form-control mt-2 insert" placeholder="Senha" required>
        
              </div>
              <div class="col-sm">
        
               <p style="margin-bottom: 50px;"></p>
        
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="CFG_USU_ALT_PARC">
                  <label class="custom-control-label" for="CFG_USU_ALT_PARC"> Altera Cadastro Parceiro?</label>
                </div>
        
                <div class="custom-control custom-checkbox"> 
                  <input type="checkbox" class="custom-control-input"  id="CFG_USU_CONF_CONFERE_CAIXA" >
                  <label class="custom-control-label"  for="CFG_USU_CONF_CONFERE_CAIXA" >Pode Conferir Caixa?</label>
                </div>
        
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="CFG_USU_EXC_FIN" >
                  <label class="custom-control-label"  for="CFG_USU_EXC_FIN">Permite excluir Mov. Financeiro?</label>
                </div>
        
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="CFG_USU_FECHA_CAIXA" >
                  <label class="custom-control-label"for="CFG_USU_FECHA_CAIXA">Pode Fechar Caixa?</label>
                </div>
        
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input " id="CFG_USU_LIB_BLOQ_PARC" >
                  <label class="custom-control-label"  for="CFG_USU_LIB_BLOQ_PARC">Libera bloqueio de parceiro?</label>
                </div>
        
                <div class="custom-control custom-checkbox">
                  <input type="checkbox"  class="custom-control-input" id="USU_ADM">
                  <label class="custom-control-label"   for="USU_ADM">Administrador do sistema?</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox"  class="custom-control-input" id="CAIXA">
                  <label class="custom-control-label"   for="CAIXA">Caixa?</label>
                </div>
                
              </div>        
            </div>
        
            </div>
            <button id="Salvausuario" type="button" style="margin-left: 50px;" class="btn btn-warning mt-3">Salvar</button>
          </div>
        
        </form>
    </div>
  </div>
</div>

<!--Filtro e tabela-->
<div class="grad" style="display: flex; height: auto;padding: 30px;">
<% let filtro = P_USU.T_FILTRO %>
  <div style="width: 300px;height: 400px;">
      <form  >


          <div class="form-group row">
            <div class="col-sm-10">
              <span>Usuário</span>
              <input type="text" placeholder="Nome" id="nome" value="<%=filtro[0][0]%>" class="form-control"  >
            </div>
            <p><span class="mt-2">Grupo</span></p>
            <div style="display: flex; flex-direction: row;">
             <input type="text" required  id="ID_GRUPO_F" style="width: 100px;margin-right: 8px;" class="form-control mt-2" placeholder="Cod. grupo">
             <input type="text" required  id="NOME_GRUPO_F" class="form-control mt-2 " placeholder="Grupo" >
            </div>
          </div>

          <fieldset class="form-group">
            <div class="row">
  
              <div class="col-sm-10">
                <div class="form-check">
                  <%if (filtro[0][1] == 'S'){%>
                    <input class="form-check-input" checked type="checkbox"  id="adm" value="opcao1" >
                 <% }else{%>
                  <input class="form-check-input" type="checkbox"  id="adm" value="opcao1" >

                 <%}%>

                  <label class="form-check-label" for="adm"> Somente Adm? </label>
                </div>

                <div class="form-check">
                  <%if (filtro[0][2] == 'S'){%>
                  <input class="form-check-input" type="checkbox" checked id="ativo" value="opcao2">
                 <% }else{%>
                  <input class="form-check-input" type="checkbox"  id="ativo" value="opcao2">
                 <%}%>

                  <label class="form-check-label" for="ativo">Somente ativos? </label>
                </div>

              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-10">
              <button  class="btn btn-primary" id="filtro"  type="button">Buscar</button>
            </div>
          </div>
        </form>
  </div> 
  
  <div style="width: 80%;display: block;" >
    <%- include('../components/exporta.ejs');%>

    <table class="table" style="width: 100%;" id="tabelausuario" >

      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Grupo</th>
          <th>Data cadastro</th>
        </tr>
      </thead>
      <tbody>
             <!-- inserido pela requição ajax apos usar o filtro -->
      </tbody>
    </table>
  </div>
  
</div>



<!-- Botão para acionar modal de acao de copiar usuario -->
<div class="modal fade" id="IDCOPIASUSU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <p><span class="mt-2">Usuário de origem</span></p>
          <div style="display: flex; flex-direction: row;">
           <input type="number" required id="ID_FORNECE" style="width: 100px;margin-right: 8px;" class="form-control mt-2 insert" placeholder="Cod. usuário">
           <input type="text"  id="NOME_USU_F" class="form-control mt-2 insert" placeholder="Nome do usuario" >
          </div>

          <p><span class="mt-2">Usuário que ira receber a copia</span></p>
          <div style="display: flex; flex-direction: row;">
           <input type="number" required id="ID_RECEBE" style="width: 100px;margin-right: 8px;" class="form-control mt-2 insert" placeholder="Cod. usuário">
           <input type="text"  id="NOME_USU_R" class="form-control mt-2 insert" placeholder="Nome do usuario" >
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" id="BTN_COPIA" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>
<script type="module" src="/js/usuario/filtro_usuario.js"></script>
<script type="module" src="/js/usuario/copia_usuario.js"></script>
<script type="module" src="/js/usuario/usuario_http.js"></script>



<%- include('../partials/footer'); %>
