<%- include('../partials/head'); %>
<button id="BTN_MODAL"  data-toggle="modal" style="display: none;" data-target=".bd-example-modal-xl"></button>
<% result.forEach(U=>{ %>

<!--visualizar detalhes do usuario-->
    <div class="modal-content">
      <div class="row">
        <div class="col-sm"  style="padding: 50px;width: 350px;">
  
             <%- include('../components/usuario_v'); %>
             <%- include('../components/parceiro_v'); %>
             <%- include('../components/vendedor_v'); %>
             <%- include('../components/grupo_v'); %>
            
  
          <p><span class="mt-2">Senha</span></p>
          <input type="text" id="USU_SENHA" class="form-control mt-2 insert" placeholder="Senha" required>
  
        </div>
        <div class="col-sm">
  
         <p style="margin-bottom: 50px;"></p>
  
         <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="CFG_USU_ALT_PARC" <% if (U.ALT_PARC === 'S') { %> checked <% } %>>
            <label class="custom-control-label" for="CFG_USU_ALT_PARC">Altera Cadastro Parceiro?</label>
        </div>
        
  
          <div class="custom-control custom-checkbox"> 
            <input type="checkbox" class="custom-control-input"  id="CFG_USU_CONF_CONFERE_CAIXA"  <% if (U.CF_CAIXA === 'S') { %> checked <% } %>>
            <label class="custom-control-label"  for="CFG_USU_CONF_CONFERE_CAIXA">Pode Conferir Caixa?</label>
          </div>
  
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="CFG_USU_EXC_FIN"  <% if (U.EX_FIN == 'S') { %> checked <% } %> >
            <label class="custom-control-label"  for="CFG_USU_EXC_FIN">Permite excluir Mov. Financeiro?</label>
          </div>
  
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="CFG_USU_FECHA_CAIXA" <% if (U.F_CAIXA == 'S') { %> checked <% } %> >
            <label class="custom-control-label"for="CFG_USU_FECHA_CAIXA" >Pode Fechar Caixa?</label>
          </div>
  
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input " id="CFG_USU_LIB_BLOQ_PARC"  <% if (U.U_L_PARC === 'S') { %> checked <% } %>>
            <label class="custom-control-label"  for="CFG_USU_LIB_BLOQ_PARC">Libera bloqueio de parceiro?</label>
          </div>
  
          <div class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input" id="USU_ADM"  <% if (U.ADM == 'S') { %> checked <% } %>> 
            <label class="custom-control-label"   for="USU_ADM">Administrador do sistema?</label>
          </div>
  
          <div class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input" id="CAIXA"  <% if (U.CAIXA == 'S') { %> checked <% } %>> 
            <label class="custom-control-label"   for="CAIXA">Caixa</label>
          </div>
          
          <div class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input" id="STATUS"  <% if (U.USU_STATUS == 'S') { %> checked <% } %>>
            <label class="custom-control-label"   for="STATUS" >Ativo?</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox"  class="custom-control-input" id="EXPORTA"  <% if (U.EXPORTA == 'S') { %> checked <% } %>>
            <label class="custom-control-label"   for="EXPORTA" >Exporta registros?</label>
          </div>
        </div>
        <div class="col-sm-3" style="margin-right: 30px;width: 230px;">
  
          <%- include('../components/controle'); %>

        </div>
      </div>
  
      </div>

    </div>
  
  </form>
</div>
  </div>

<%})%>
<input type="hidden" id="ID_GRUPO_FILTRO">

<script type="module" src="/js/parceiro/filtros.js"></script>
<script type="module" src="/js/usuario/update_usuario.js"></script>
<script src="/js/usuario/delete.js"></script>

<%- include('../partials/footer'); %>